
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#140337, #110741);
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

.home-img {
    height: 100%;
    width: 100%;
    background: url(../assest/background-tablet.svg) no-repeat;
    background-size: cover;
    background-position: 100% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: -0.5px -0.5px 1px 4px #2463FF;
    background-color: #3155bf55;
    padding: 4rem 6rem;
    border-radius: 3rem;
}

.play-button {
    width: 60px;
    height: 60px;
    background-color: #e87ebf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.2);
}

.play-icon {
    color: white;
    font-size: 24px;
}

.how-to-play {
    padding: 10px 20px;
    background-color: #2463FF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.how-to-play:hover {
    transform: scale(1.2);
}

.category-container {
    padding: 4rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    gap: 3rem;
}

.category-container h2 {
    font-size: 4rem;
    color: white;
}

.categories {
    text-align: center;
    display: grid;
    row-gap: 1rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(3, 200px);
    color: white;
}

.category {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2463FF;
    text-transform: uppercase;
}

.category:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.hidden {
    display: none;
}

#category-name {
    text-align: left;
    font-size: 2.5em;
    margin: 20px 0;
    color: white;
}

#word-blanks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px 0;
    margin-top: 100px;
}

#word-blanks span {
    display: inline-block;
    width: 40px;
    height: 60px;
    background-color: #0e7da3;
    border-radius: 30px;
    text-align: center;
    font-size: 2em;
    line-height: 60px;
    color: #333;
    font-weight: bold;
}

#word-blanks span:empty {
    background-color: #f0f0f0;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.keyboard button {
    padding: 10px 20px;
    background-color: #e9edf0;
    border: none;
    color: rgb(16, 16, 16);
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.keyboard button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.keyboard button:disabled {
    background-color: #1d1a1a;
    color: #888;
    cursor: not-allowed;
}

.keyboard button:disabled:hover {
    background-color: #cccccc;
}

#message {
    text-align: center;
    font-size: 1.2em;
    color: white;
    margin-top: 20px;
}

#gamePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: -0.5px -0.5px 1px 4px #2463FF;
    background-color: #3155bf55;
    z-index: 1000;
    width: 300px;
    animation: popin 0.5s ease-out;
}

.popup-content {
    text-align: center;
    color: white;
}

.popup-title {
    font-size: 2.5em;
    color: #d0e0ff;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.popup-button {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s;
}

.play-again {
    background-color: #4169e1;
    color: white;
}

.new-category {
    background-color: #4169e1;
    color: white;
}

.quit-game {
    background: linear-gradient(90deg, #ff7eb9, #e87ebf);
    color: white;
}

.popup-button:hover {
    transform: scale(1.05);
}

@keyframes popin {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
